<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--接入程序相关配置-->
    <add key="kafkaUrl" value="172.28.6.124:9092"/>
    <add key="topicAlarm" value="iSodbAlarm"/>
    <add key="topicDevice" value="cContainerEqu"/>
    <add key="topicAccess" value="cContainerRecord"/>
    <add key="consumerGroupId" value="1"/>
    <add key="topicCommand" value="recvTopic1"/>
    
    <!--HSDK相关配置-->
    <add key="Protocol" value="http"/>
    <add key="ServerName" value="localhost"/>
    <add key="Port" value="80"/>
    <add key="VDName" value="HSDKPNLApplicationModule"/>
    <add key="CertFilePath" value=""/>

    <add key="CreateMultipleAlarms" value="0"/>
    <add key="AddObjToAlarmWatch" value="0"/>
    <add key="MaxAlarms" value="500"/>
    <add key="MaxTreeLevel" value="2"/>
    <add key="ShowPropertiesInTree" value="1"/>
    <add key="ShowComboForEnum" value="1"/>
    <add key="ShowUsersInCombo" value="0"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>

    <add key="deleteAccessUser" value="/HSDKPNLApplicationModule/pacs/accessUsers/0x001234567890123456789012345678901234"/>
    <add key="deleteAccessCredential" value="/HSDKPNLApplicationModule/pacs/accessCredentials/12345"/>
    <add key="deleteAccessRight" value="/HSDKPNLApplicationModule/pacs/accessRights/0x001234567890123456789012345678901234"/>
    <add key="deleteAccessZone" value="/HSDKPNLApplicationModule/pacs/accessZones/0x001234567890123456789012345678901234"/>
    <add key="deleteTimezone" value="/HSDKPNLApplicationModule/pacs/timeZones/0x001234567890123456789012345678901234"/>

    <!--   Used in Search tab    -->
    <add key="accessUsers" value="def/accessUser/"/>
    <add key="accessCredentials" value="def/accessCredential"/>
    <add key="accessRights" value="def/accessRight"/>
    <add key="accessPoints" value="def/accessPoint"/>
    <add key="accessZones" value="def/accessZone"/>
    <add key="accessPointExtns" value="def/accessPointExtn"/>
    <add key="accessDoors" value="def/accessDoor"/>
    <add key="IODevices" value="def/IODevice"/>
    <add key="IOGroups" value="def/IOGroup"/>
    <add key="timeZones" value="def/timeZone"/>


    <add key="MessageQueueName" value="hsdk_tc_trace"/>
    <add key="SoapRequest" value="0"/>
    <add key="logLevel" value="0"/>
    <add key="TestClientTrace" value="true"/>
    <add key="MaxMessageCount" value="1000"/>
  </appSettings>
</configuration>