<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="serverIp" value="192.168.48.1"/>
    <add key="hostname" value="ESS-BIS"/>
    <add key="port" value="11234"/>
    <add key="localIp" value="192.168.68.7"/>
    <add key="user" value="SODB"/>
    <add key="password" value="SODB"/>
    <add key="kafkaUrl" value="192.168.68.3:9092,192.168.68.4:9092,192.168.68.5:9092"/>
    <add key="topicAlarm" value="cContainerAlarm"/> <!--报警信息-->
    <add key="topicSwipe" value="cContainerOther"/> <!--正常刷卡信息-->
    <add key="topicPerson" value="relsTopic3"/><!--持卡人信息-->
    <add key="topicCommand" value="recvTopic3"/><!--命令主题-->
    <add key="consumerGroupId" value="1"/>
    <add key="sqlserverIp" value="192.168.48.1\BIS_ACE"/>
    <add key="sqlserverDbName" value="acedb"/>
    <add key="sqlserverUser" value="sa"/>
    <add key="sqlserverPassword" value="sa_s3k_pw"/>
    <add key="imagePath" value="\\192.168.48.1\MgtS\AccessEngine\CardholderImages\"/>
  </appSettings>
</configuration>