<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="serverIp" value="172.17.58.178"/>
    <add key="hostname" value="BISSERVER"/>
    <add key="port" value="11234"/>
    <add key="localIp" value="172.17.58.178"/>
    <add key="user" value="BIS"/>
    <add key="password" value="BIS"/>
    <add key="kafkaUrl" value=""/>
    <add key="topickAlarm" value="cContainerAlarm"/> <!--报警信息-->
    <add key="topickSwipe" value="cContainerOther"/> <!--正常刷卡信息-->
    <add key="sqlserverIp" value=""/>
    <add key="sqlserverDbName" value="BIS_ACE"/>
    <add key="sqlserverUser" value="sa"/>
    <add key="sqlserverPassword" value="sa_s3k_pw"/>
  </appSettings>
</configuration>