<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <add key="localIp" value="172.28.6.126"/>
  <add key="localPort" value="20080"/>
  <add key="remoteIp" value="172.40.15.4"/>
  <add key="remotePort" value="850,851,852,85,854,855"/>
  <add key="kafkaUrl" value="172.28.6.107:9092"/>
  <add key="topicAlarm" value="iSodbAmsAlarm"/>
</configuration>